$color_text_black: #000000;
$color_text_white: #ffffff;
$color_text_red: #f44949;
$color_paragraph: #6a6b7c;
$color_btn_buy_ticket_1: #ee8425;
$color_btn_buy_ticket_2: #f9488b;
$bg_move_to_top: #e4b1d9;
$color_nav-item_unline: #F44949 ;
$color_boder: #ebebeb;
$bg_footer: #171822;
$bg-schedule-section: #f4f6f8;



$color-text: #6a6b7c;
$bg-content-color: rgb(228, 197, 221);
$txt-size: 14px;

// .main
//     font-size: $txt-size
//     background-color: $bg-content-color
//     a
//         text-decoration: none
//         color: $color-text;


