<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="loading_bg">
        <div id="loading">

        </div>
    </div>
    <nav class="top-nav">
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn-bar"></i>
            <i class="far fa-window-close" id="btn-cancel"></i>
        </label>
        <a href="../index.html"><img src="../images/logo.png" alt=""></a>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="speakers.html">Speakers</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li  class="active"><a href="#">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="clear">
        </div>
    </nav>
    <a href="/components/buy_ticket.html" class="primary-btn btn-ticket"><i class="fas fa-ticket-alt"></i>Ticket</a>
    <button onclick="topFunction()" id="btn-move-top" title="Go to top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="container">
        <hr style="margin-top: 0;">
    </div>
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>New latest</h2>
                        <div class="bt-option">
                            <a href="../index.html">Home</a>
                            <span>Our Blogs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="blog-item" style="background-image: url(../images/blog/blog-1.jpg);">
                                <div class="bi-tag">Foody</div>
                                <div class="bi-text">
                                    <h5><a href="">Google's AI Assistant Aims to Transcend the Smart Speaker</a></h5>
                                    <span><i class="far fa-clock"></i>19th May, 2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item" style="background-image:url(../images/blog/blog-2.jpg)">
                                <div class="bi-tag bg-gradient">Foody</div>
                                <div class="bi-text">
                                    <h5><a href="../blog-details.html">Free Classifiends Using Them To Promote</a></h5>
                                    <span><i class="far fa-clock"></i> 19th May, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item large-item" style="background-image:url(../images/blog/blog-4.jpg)">
                        <div class="bi-tag">Business</div>
                        <div class="bi-text">
                            <h3><a href="">"Inspired By Modiji, Will Make Biopic": BJP's Ravi Kishan</a></h3>
                            <span><i class="far fa-clock"></i> 19th May, 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item" style="background-image:url(../images/blog/blog-7.jpg)">
                                <div class="bi-tag">Foody</div>
                                <div class="bi-text">
                                    <h5><a href="">The ZenBook With a Touchpad That Lights Up</a></h5>
                                    <span><i class="far fa-clock"></i>9th May, 2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item " style="background-image:url(../images/blog/blog-8.jpg)">
                                <div class="bi-tag">Foody</div>
                                <div class="bi-text">
                                    <h5><a href="">Is the Detel Posh a Posh Speaker?</a></h5>
                                    <span><i class="far fa-clock"></i>19th May, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item large-item" style="background-image:url(../images/blog/blog-3.jpg)">
                        <div class="bi-tag bg-gradient">Marketing</div>
                        <div class="bi-text">
                            <h3><a href="">Lok Sabha Elections 2019 - In BJP, Only ''Tai'' Can Admonish Me: PM Modi On Sumitra
                                Mahajan</a></h3>
                            <span><i class="far fa-clock"></i>19th May, 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item" style="background-image:url(../images/blog/blog-5.jpg)">
                                <div class="bi-tag">Design</div>
                                <div class="bi-text">
                                    <h5><a href="">The Biggest Stories Of January 06, 2019</a></h5>
                                    <span><i class="far fa-clock"></i> 19th May, 2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item" style="background-image:url(../images/blog/blog-6.jpg)">
                                <div class="bi-tag">UX/UI</div>
                                <div class="bi-text">
                                    <h5><a href="">Alexa Can Now Show You Things!</a></h5>
                                    <span><i class="far fa-clock"></i> 19th May, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item" style="background-image:url(../images/blog/blog-9.jpg)">
                        <div class="bi-tag bg-gradient">Marketing</div>
                        <div class="bi-text">
                            <h3><a href="">"Still Waiting For BJP To Make Me Chief Minister": Goa Assembly Speaker</a></h3>
                            <span><i class="far fa-clock"></i> 19th May, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more blog-more">
                <a href="#" class="primary-btn">Load More</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <!-- <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-5.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="../images/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="../index.html" class="footer-logo"><img src="../images/footer-logo.png" alt="logo"></a>
                        </div>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="speakers.html">Speakers</a></li>
                            <li><a href="schedule.html">Schedule</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <div class="copyright-text"><p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with  by </p></div>
                        <div class="ft-social">
                            <a href="#" class="fab fa-facebook-f"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin-in"></a>
                            <a href="#" class="fab fa-instagram"></a>
                            <a href="#" class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="../js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>